
body
{
    text-align: center !important;
    font-family: Arial;
    color: black;
    font-size: 16px;
    background-color: #333;
}

#container
{
    width: 97%;
    padding: 1em;
    text-align: center;
    margin: 0, auto;
    background-color: white;
    border: black;
    

}

#container h1
{
    font-size: 20px ;

}

#cabecera{
    background: #33A;
    box-shadow: opx 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;

}

#cabecera tagline
{
    font-weight: normal;
    font-size: 0.8em;
    padding: 1em 0 0 0;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}


#footer{
    background: #33A;
    color: white;
    text-align: center;
    padding: 0.5em;
    margin-top: 1em;
}